<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/style.css" type="text/css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/fonts/fontawesome-webfont.woff" />
        <link rel="stylesheet" href="~/lib/font-awesome/fonts/fontawesome-webfont.woff2" />
        <link rel="stylesheet" href="~/lib/aos/dist/aos.css" />
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
        <link rel="stylesheet" href="~/lib/devicon/devicon.css">
        <link rel="stylesheet" href="~/lib/devicon/devicon-colors.css">
        <link rel="stylesheet" href="~/lib/devicon/fonts/devicon.woff">
        <link rel="stylesheet" href="~/lib/devicon/fonts/devicon.svg">
        <link rel="stylesheet" href="~/lib/devicon/fonts/devicon.eot">
        <link rel="stylesheet" href="~/lib/devicon/fonts/devicon.tff">
    </environment>
</head>
<body>
    @if(ViewBag.HideNavBar != true)
    {
    <nav class="navbar navbar-light navbartitle">
        <h1 id="header-title-desktop">Harry Poul Bendix-Lewis</h1>
        <h1 id="header-title-mobile">HPBL</h1>
    </nav>
    <div>
        @RenderBody()
        <footer>
            <p>&copy; 2016<script>new Date().getFullYear()>2010&&document.write("-"+new Date().getFullYear());</script> | Harry Bendix-Lewis</p>
        </footer>       
    </div>
}
@if (ViewBag.HideNavBar == true)
{
    <div class="site-wrapper">
        @RenderBody()
    </div>

}
    @*<div class="loading">
        <button class="btn btn-outline-primary enter" onclick="show();">Enter</button>
    </div>*@
    <div class="dim">

    </div>
    
        <environment include="Development">
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/angular/angular.js"></script>
            <script src="~/lib/angular-route/angular-route.js"></script>
            <script src="~/lib/angular-animate/angular-animate.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
            <script src="~/lib/aos/dist/aos.js"></script>
        </environment>      

        @RenderSection("Scripts", required: false)
        
</body>
</html>
