
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid controlPanel" ng-controller="imageCtrlController">
    <div class="row header h-100 justify-content-center align-items-center">
        <div class="center-block">
            <h3 class="center-block text-center">Admin Dashboard</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <ul class="list-group">
                <a ng-href="#/imageCtrl">
                    <li class="list-group-item">
                        Image Control
                    </li>
                </a>
                <a ng-href="#/blogCtrl">
                    <li class="list-group-item">
                        Blog Control
                    </li>
                </a>
                <a ng-href="#/adminCtrl">
                    <li class="list-group-item">
                        Admin Control
                    </li>
                </a>
            </ul>
        </div>
        <div class="col-10">
            <ng-view></ng-view>
        </div>
    </div>
</div>

