
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid controlPanel" ng-app="admin-app" ng-controller="imageCtrlController">    
    <div class="row">
        <div class="col-2">
            <ul class="list-group">
                <a ng-href="#/Images">
                    <li class="list-group-item">
                        Image Control
                    </li>
                </a>
                <a ng-href="#/Admin">
                    <li class="list-group-item">
                        Admin Control
                    </li>
                </a>
                <hr />
                <a href="/">
                    <li class="list-group-item">
                        Home Page
                    </li>
                </a>
            </ul>
        </div>
        <div class="col-10">
            <ng-view></ng-view>
        </div>
    </div>
</div>
@section Scripts {
        <script src="@Url.Content("~/js/angular/admin-app.js")"></script>
}

