
@{
    Layout = null;
}
<div class="container about">    
    <div class="row">
        <img src="images/me1.JPG" />
    </div>
    <div class="row">
        <h1>Hello,</h1>
    </div>
    <div class="row">
        <p>Welcome to my site.</p>
    </div>
    <div class="row">
        <p>My name is Harry Poul Bendix-Lewis and I love making websites.</p>
    </div>
    <div class="row">
        <p>Around October last year I decided to start making some kind of portfilio website to showcase my 'skills' at web development. 
        However on second thought, this quickly changed into much more personal and enjoyable. I decided to make an all emcompassing 
        website whereby I could show off skills and also show off my pictures.</p>
    </div>
    <div class="row">
        <h1>For the nerds,</h1>
    </div>
    <div class="row">
        <p>
            This site was made using AngularJs and .NET Core v2. It's a 'SPA' utilising Angular's routing to load MVC Views. I used LING to SQL, Code First and the Repository Pattern in the backend.          
        </p>
    </div>
    <div class="row">
        <p>
            Thanks to Richlyn for putting me on a modern project at work and making me learn the beauty of Angular.
        </p>
    </div>  
    <div class="row">
        <p>
            Huge shout out to Luke, my Jedi Master, taught me all I know. Hope down under is treating you good, buddy.
        </p>
    </div>  
    <div class="row">
        <p>
            Click the GitHub button if you want to see the source code.
        </p>
    </div>
    
    <div class="row">
        <p>Peace and love,</p>
    </div>
    <div class="row">
        <h4>H</h4>
    </div>
    <div class="row btnRow">
        <button class="btn-md btn-outline-info">GitHub</button>
    </div>
</div>