
@{
    Layout = null;
}
<div class="container about">    
    <div class="row">
        <img src="images/me1.JPG" />
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1>Hello,</h1>
            <p>
                Welcome to my site.
            </p>
            <p>
                My name is Harry Poul Bendix-Lewis and I love making websites - cliche I know.
            </p>
            <p>
                Around October last year I decided to start making a portfilio website to showcase my 'skills' at Web Development. 
                However on second thought, this quickly changed into something much more personal and enjoyable. I decided to make an all emcompassing 
                website whereby I could show off skills and also show off my pictures.
            </p>
            <p>
                Avid traveller, history buff, reader, millennial - all round nerd.
            </p>
            <p>
                I like tea, Crystal Palace, Paris, Buddism, hiking and materilising my creative thoughts into websites.
            </p>
            <h2>For the nerds,</h2>
            <p>
                This site is Single Page - Progressive Web App. Built using AnguarJS and .NET Core v2. Structured using the Repository Pattern and Code First. Populated using LINQ to SQL and JSON.
            </p>
            <p>Peace and love,</p>
            <h4>H</h4>    
        </div>
    </div>
</div>
