
@{
    Layout = null;
}
<div class="row">
    <div class="col-sm-6 colCards"
         ng-repeat="blog in blogPosts" id="{{blog.id}}">
        <div class="card imageCards" style="width: 100%;">
            <img src="~/images/{{blog.filePath}}" />
            <div class="blogheader">
                <h4>{{blog.title}}</h4>
            </div>
            <div class="blogtext">
                <p>{{blog.previewText}}</p>
            </div>
            <div class="blogdate">
                <p>{{blog.created | date:'dd-MM-yyyy'}}</p>
            </div>
        </div>        
    </div>    
</div>