@{
    ViewData["Title"] = "HPBL";
}
<nav class="navbar sticky-top navbarbtns">
    <div class="row navbarbtngroup">
        <a ng-href="#/feed"><button type="button" class="btn btn-outline-primary">Feed</button></a>
        <button type="button" class="btn btn-outline-primary">Map</button>
        <a ng-href="#/blog"><button type="button" class="btn btn-outline-primary">Blog</button></a>
        <a ng-href="#/about"><button type="button" class="btn btn-outline-primary">About</button></a>

    </div>
</nav>
<div class=".container-fluid body-content">
    <ng-view></ng-view>   
</div>
<script>
</script>


